# Dependencies
node_modules/

# Build outputs
.next/
out/

# Environment variables
.env.local
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Prisma
# Abaikan file hasil generate Prisma Client jika kamu tidak ingin mengkomitnya
# Tapi ini biasanya tidak diperlukan karena ada di node_modules
# /.prisma/

# Abaikan file .db jika kamu menggunakan SQLite untuk development lokal
*.db
*.db-*

# Abaikan file kunci atau rahasia lain yang mungkin tercipta
*.pem
*.key

# Abaikan direktori debug atau cache yang spesifik
.DS_Store
Thumbs.db

# Abaikan file hasil build atau export lainnya jika ada
dist/
build/